.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: darkgrey;
}

.button {
  background-color: #ffffff;
  color:black;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;

  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  &-gray {
    background-color: #e7e7e7;
    color: gray;
  }

  &-green {
    background-color: #4CAF50; /* Green */
    color: #ffffff;
  }

  &-blue {
    background-color: #008CBA; /* Blue */
    color: #ffffff;
  }

  &-red {
    background-color: #f44336; /* Red */
    color: #ffffff;
  }

  &-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

}

.field {
  padding: 10px 17px;
  margin: 8px 0;
  box-sizing: border-box;

  &-error {
    border-color: #f44336;
  }

}

.error_message {
  color: red;
}


.loader {
  width: 50px;
  height: 50px;
}



