@import "variables";

.header_block {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(67, 71, 80, 0));
  padding: 20px 10px;
  height: 100px;
  align-items: center;

  img {
    height: 130px;
  }

  .header_items {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding-inline-start: 0px;
    list-style: none;
    text-align: center;

    .header_item {


      .material-icons {
        font-size: $header-font-size+7px;
        margin-left: 15px;
        color: $header-color;
        position: relative;
        list-style: none;
        text-align: center;
        padding: 15px 10px;

        &:hover {
          color: $header-color-hover;
          transition: 0.4s ease-out;
          cursor: pointer;
        }
      }
    }
  }
}

.dropdown_content {
  display: none;
  position: absolute;
  z-index: 1;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  min-height: 170px;
  margin-top: 0px;
  transition: 0.4s ease-out;
  color: $header-color;
  font-size: $header-font-size;
  margin-right: auto;
  width: 170px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  border-radius: 10px;


  & a {
    color: $header-color;
    text-decoration: none;
    & div {
      margin: 15px auto;
    }
    & div:hover {
      color: $header-color-hover;
      transition: 0.4s ease-out;
    }
  }
}
.dropdown:hover .dropdown_content {
  display: block;
  cursor: pointer;
}
