.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 200px;
  margin: 50px auto;
  padding: 35px 20px;
  border-radius: 10px;
  background-color: white;
  position: relative;

  button {
    margin-top: 5px;
  }

  h2 {
    text-align: center;
  }

  span {
    margin: 5px auto;
  }

  &_google-auth {
    button {
      margin-top: 5px;
      width: 100%;
      text-align: center;
    }
  }


  .loader {
    position: absolute;
    top: 240px;
    left: 50px;
  }
}
